@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

:root {
	--background: linear-gradient(190deg, #0c0a09 0%, #1c1917 50%, #0c0a09 100%);
	--header: linear-gradient(90deg, #0c0a09, #292524, #44403c);
	--btn: linear-gradient(135deg, #eab308, #a16207);
	--container: linear-gradient(180deg, rgba(41, 37, 36, 0.5), rgba(12, 10, 9, 0.8));
	--second-btn: linear-gradient(135deg, #44403c, #0c0a09);
	--border-radius: 8px;
	--white: #fffcf2;
	--grey: #a8a29e;
	--dark: #0c0a09;
	--dark-second: #1c1917;
	--border: #fde047;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* border: 1px solid red; */
}

ul,
ol {
	list-style-position: inside;
	padding-left: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

button {
	all: unset;
	cursor: pointer;
	box-sizing: border-box;
}

input,
textarea,
button,
select {
	font: inherit;
	border: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	color: var(--white);
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background: var(--background);
	color: var(--grey);
	box-sizing: border-box;
}

main {
	width: 90%;
	gap: 30px;
	margin: 30px auto;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--white);
	margin: 5px auto;
}

.txt {
	font-size: 1rem;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 20px;
}
/* normilize end */

header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding: 16px 32px;
	border-radius: var(--border-radius);
	background: var(--header);
	box-shadow: 0 0 3px 3px var(--border);
	position: sticky;
	top: 0;
	z-index: 150;
	overflow: hidden;
}

@keyframes spinSlow {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.h-logo {
	margin-left: 20px;
	z-index: 150;
	border-radius: 5px;
}

.h-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
}

.inherit-btn {
	padding: 8px 12px;
	border: 2px solid var(--second-btn);
	font-size: 1rem;
	color: var(--white);
	font-weight: 700;
	transition: transform 0.5s ease;
}

.inherit-btn:hover {
	background: var(--second-btn);
	transform: scale(1.2);
}

.red-btn {
	position: relative;
	background: var(--second-btn);
	padding: 8px 12px;
	border: 2px solid var(--border);
	border-radius: var(--border-radius);
	font-size: 1rem;
	color: var(--white);
	font-weight: 700;
	z-index: 1;
	transition: all 0.4s ease;
}

.red-btn:hover {
	transform: scale(0.95);
	box-shadow: 0 0 13px var(--border);
}

.arrow {
	position: fixed;
	top: 50%;
	right: 2%;
	width: 2px;
	height: 120px;
	background: linear-gradient(
		to bottom,
		var(--grey) 0%,
		var(--grey) 40%,
		var(--border) 50%,
		var(--grey) 60%,
		var(--grey) 100%
	);
	background-size: 100% 250%;
	animation: scroll-flow 0.9s infinite linear;
}

.arrow::before {
	content: '';
	position: absolute;
	bottom: 3px;
	left: -1px;
	width: 10px;
	height: 10px;
	border-left: 2px solid var(--grey);
	border-bottom: 2px solid var(--grey);
	transform: rotate(-45deg) translateX(-50%);
	animation: arrow-glow 0.9s infinite linear;
}

@keyframes scroll-flow {
	0% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

@keyframes arrow-glow {
	0%,
	80% {
		border-color: var(--grey);
	}
	90% {
		border-color: var(--border);
	}
	100% {
		border-color: var(--grey);
	}
}

.main-banner,
.small-banner {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 20px;
	margin: 30px auto;
}

.banner-container {
	background-image: url(./img/1.webp);
	background-repeat: no-repeat;
	background-position: 65%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	padding: 30px;
	width: 50%;
	height: 400px;
	gap: 20px;
}

.banner-container p {
	width: 70%;
}

.info-box {
	margin: 20px auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info-box img {
	width: 60%;
	height: auto;
	border-radius: 20px;
}

.info-txt {
	font-size: 1rem;
	font-weight: 400;
	color: var(--white);
	margin: 8px auto;
}

.btn-dep {
	padding: 4px 14px;
	font-size: 1rem;
	background: var(--btn);
	color: var(--white);
	font-weight: 800;
	border-radius: var(--border-radius);
	box-shadow:
		1px 1px 2px var(--btn),
		0 0 1em var(--btn),
		0 0 0.2em #fff;
	transition: transform 0.5s ease;
}

.btn-dep:hover {
	transform: scale(1.2);
}

.btn-dep:active {
	background: var(--btn);
	box-shadow: 0 5px var(--header);
	transform: translateY(4px);
}

.banner-bonus-gift {
	background-image: url(img/2.webp);
	padding: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 25%;
}

.banner-bonus-cash {
	background-image: url(img/3.webp);
	padding: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 25%;
}

.sb-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	border-radius: var(--border-radius);
	background: var(--header);
	box-shadow: 0 0 3px var(--white);
	transition: all 0.5s ease;
	overflow: hidden;
	z-index: 1;
}

.sb-container::before {
	content: '';
	position: absolute;
	inset: 0;
	background: var(--header);
	opacity: 0;
	transform: rotate(180deg);
	transition: opacity 0.6s ease;
	z-index: -1;
}

.sb-container:hover::before {
	opacity: 1;
}

.sb-container:hover {
	box-shadow:
		-3px 3px 3px var(--dark),
		-6px 6px 3px var(--border);
}

.sb-container:hover img {
	transform: rotate(10deg);
	transition: all 0.4s ease;
}

.sb-container .title {
	text-align: left;
	margin: 0;
}

.banner-container,
.banner-bonus-gift,
.banner-bonus-cash,
.main-container {
	border-radius: var(--border-radius);
	background-color: var(--dark-second);
	transition: all 0.3s ease;
	box-shadow: 0 0 3px 3px var(--border);
}

.banner-container:hover,
.banner-bonus-gift:hover,
.banner-bonus-cash:hover,
.main-container:hover {
	animation: pulse 0.7s infinite;
}

@keyframes pulse {
	50% {
		box-shadow: 0 0 10px var(--border);
	}
}

.main-container {
	background: var(--container);
	padding: 20px 40px;
}

.popular-games {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 20px;
}
.game img {
	width: 80%;
}

.table-wrapper {
	overflow-x: auto;
	margin-top: 1.5rem;
	border-radius: var(--border-radius);
	width: 100%;
}

.table-wrapper table {
	width: 100%;
	border-collapse: collapse;
	color: var(--white);
	font-size: 1rem;
	min-width: 320px;
	border-radius: 12px;
}

td,
th {
	border: 1px solid var(--grey);
	padding: 8px;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background: var(--btn);
	color: var(--white);
}

footer {
	padding: 30px;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin: 10px 0;
}

.f-logo {
	display: flex;
	align-items: flex-start;
	align-items: end;
	gap: 10px;
}
hr {
	width: 100%;
	height: 2px;
	border: none;
	background: linear-gradient(90deg, var(--white) 0%, var(--background) 97%);
}

.f-info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 30px;
	padding: 20px;
}

.f-txt {
	color: var(--white);
	font-size: 0.8rem;
	font-weight: 600;
}

.ios {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid var(--white);
	margin: 10px 0;
}

.txt-f {
	color: var(--white);
	margin: 20px auto;
	text-align: center;
}

@media (max-width: 768px) {
	header {
		gap: 10px;
		width: 100%;
	}

	main {
		position: relative;
		width: 96%;
		margin: 0 auto;
	}

	.h-btn {
		width: 100%;
		margin: 4px auto;
		justify-content: space-evenly;
	}

	.inherit-btn,
	.red-btn {
		padding: 4px 8px;
	}

	.main-banner,
	.small-banner {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		gap: 20px;
		margin: 30px auto;
	}

	.banner-container {
		width: 100%;
		padding: 20px 10px;
		gap: 10px;
	}

	.banner-bonus-gift {
		width: 100%;
	}

	.banner-bonus-cash {
		width: 100%;
	}

	.txt {
		font-size: 0.8rem;
		margin-bottom: 8px;
	}

	.main-container {
		width: 96%;
		padding: 10px 8px;
		gap: 10px;
		margin: 0 auto;
	}

	table {
		font-size: 0.8rem;
	}

	footer {
		padding: 10px;
	}

	.f-info {
		flex-wrap: wrap;
		width: 100%;
	}

	footer div {
		width: 100%;
	}

	footer img {
		width: 30px;
		height: auto;
	}
}
